
@media only screen and (max-width: 768px) {
    .aboutSection{
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 10%;
    }
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    .aboutImage{
        flex-direction: row;
        position: relative;
    }
    .aboutText{
        text-align: left;
        flex-direction: row;
        position: relative;
    }
    .cvfoto{
        width:100%;
        
    }
    .aboutTitle{
        font-size: 30px;
        font-family: "Lora", serif;
    }
    .aboutContentCV{
        margin-top: 15%;
    }
    .buttonCV{
        border: solid;
        border-radius: 10px;
        border-color: #404040;
        border-width: 1px;
        padding: 1%;
        background-color: transparent;
        width: 50%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        margin-bottom: 10%;
    }
    .buttonCV:hover{
        background-color: #404040;
        color: white;
    
    }
    #cvbutton{
        color:#404040 !important;
        font-size: 20px;
    }
    .buttonCV:hover #cvbutton{
        color:white !important;
    }
    .cvText{
        font-size: 10px;
        letter-spacing: 1px;
        margin-bottom: 0;
    }

}

@media only screen and (min-width: 769px) {
.aboutSection{
    justify-content: center;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    
}
.about{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.aboutImage{
    flex-direction: column;
    position: relative;
}
.aboutText{
    text-align: left;
    flex-direction: column;
    position: relative;
    width:50%;
}
.cvfoto{
    width:60%;
}
.aboutTitle{
    font-size: 30px;
    font-family: "Lora", serif;
}
.aboutContent{
    font-size: 16px;
}
.aboutContentCV{
    margin-top: 15%;
    font-size: 16px;
}
.buttonCV{
    border: solid;
    border-radius: 10px;
    border-color: #404040;
    padding: 1%;
    background-color: transparent;
    width: 40%;
    height: 10%;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.buttonCV:hover{
    background-color: #404040;
    color: white;

}
#cvbutton{
    color:#404040 !important;
    font-size: 20px;
}
.buttonCV:hover #cvbutton{
    color:white !important;
}
.cvText{
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 0;
}

}