@media only screen and (max-width: 768px) {
    .menu back{
      display: block !important;
      z-index: 1;
    }
    .tripPage{
      display:flex;
      flex-direction: column;
      font-size: smaller;
    }
    
      .headline{
        color:#ffffff;
        text-align: center;
        font-weight: 900;
          font-size: 40px;
          font-family: "Poppins", Arial, sans-serif;
      }
      
      .headlineBox{
        width:90%;
        display:flex;
        margin-top: 8%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      .headlineBox .fas{
        color:white;
        font-size: 30px;
        cursor: pointer;
      }
    
    .back button{
    display:block;
    flex-direction: row;
    }
    
    .box6{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: url("FlightBanner1.png") no-repeat center center fixed ;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height:100vh;
      
    }
    .words6{
      margin-top: 2%;
      margin-bottom: 2%;
      display: inline-flex;
      justify-content: space-between;
      font-weight: bold;
      width: 80%;
      color:white;
    
    }
    .infoIcons{
      width:80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    
    }
    .infoIcons .fas{
      color:#404040;
      font-size:20px;
    
    }
    .infoIcons .fas .hover{
      color:#404040;
    }
    .infoDiv p{
      color:#404040;
      font-size: 13px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .infoDiv{
      display: inline-flex;
      align-items: center;
    }
    
    .projectContent{
    display: flex;
    flex-direction: column;
    margin-left:10%;
    margin-right:10%;
    margin-top: 5%;
    }
    .projectDesc{
    color: #404040;
    font-size: 30px;
    font-weight: lighter;
    font-family: "Lora", serif;
    }
    
    
    .sub_headline{
      margin-top:5%;
      margin-left: 20%;
      margin-right: 20%;
      text-align: left;
      font-size: 25px;
    }
    .back_button{
      margin-top:0.5%;
      margin-bottom: 1%;
      margin-left: 10px;
      color: #404040;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 10px;
      background-color: transparent;
        border: solid;
        border-color: #404040;
        padding: 5px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 10px;
        cursor: pointer;
    }
    .back_arrow{
      margin-left:2%;
      width:10px;
      cursor: pointer;
      color:#404040;
    }
    .back_arrow:hover, .back_arrow:focus{
      text-decoration-line: underline;
      text-decoration-style: solid;
      color:#404040;
      cursor: pointer;
    }
    .back_button:hover{
      text-decoration-line: underline;
      text-decoration-style: solid;
      cursor: pointer;
    }
    .back_button:focus{
      outline:0;
    }
    }
    @media only screen and (min-width: 769px) {
      .tripPage{
        display:flex;
        flex-direction: column;
      }
    .headline{
      color:#ffffff;
      text-align: center;
      font-weight: 900;
        font-size: 80px;
        font-family: "Poppins", Arial, sans-serif;
    }
    
    .headlineBox{
      width:90%;
      display:flex;
      margin-top: 8%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .headlineBox .fas{
      color:white;
      font-size: 60px;
      cursor: pointer;
    }
    .headlineBox .fas:hover{
      font-size: 75px;
    }
    .back{
      display:flex;
      flex-direction: row;
      height:50px !important;
    }
    
    .box6{
      padding: 1%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-image: url("FlightBanner1.png") ;
      background-size: cover;
      height:100vh;
      background-repeat: no-repeat;
      background-color: #464646;
      justify-content: center;
      background-attachment: fixed;
      background-position: center;
    
    }
    .words6{
      width:30%;
      margin-top: 2%;
      margin-bottom: 2%;
      display: inline-flex;
      justify-content: space-between;
      font-weight: bold;
      color:white
    
    }
    .infoIcons{
      width:25%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    
    }
    .infoIcons .fas{
      color:#404040;
      font-size:20px;
    
    }
    .infoIcons .fas .hover{
      color:#404040;
    }
    .infoDiv p{
      color:#404040;
      font-size: 13px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .infoDiv{
      display: inline-flex;
      align-items: center;
    }
    
    .projectContent{
      display: flex;
      flex-direction: column;
      margin-left:20%;
      margin-right:20%;
      margin-top: 5%;
    }
    .projectDesc{
      color: #404040;
      font-size: 30px;
      font-weight: lighter;
      font-family: "Lora", serif;
    }
    
    
    .sub_headline{
        margin-top:5%;
        margin-left: 20%;
        margin-right: 20%;
        text-align: left;
        font-size: 25px;
    }
    .back_button{
      margin-top:0.5%;
      margin-bottom: 1%;
      margin-left: 10px;
      color: #404040;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 11px;
      background-color: transparent;
        padding: 11px 26px;
        cursor: pointer;
    }
    .back_arrow{
        margin-left:2%;
        width:10px;
        cursor: pointer;
        color:#404040;
    }
    .back_arrow:hover, .back_arrow:focus{
        text-decoration-line: underline;
        text-decoration-style: solid;
        color:#404040;
        cursor: pointer;
    }
    .back_button:hover{
        text-decoration-line: underline;
        text-decoration-style: solid;
        cursor: pointer;
      }
      .back_button:focus{
        outline:0;
      }
      .project_div{
          background-color: #DFD5EE;
          height:100%;
          padding:10px;
      }
      .project_intro{
        margin-top:2%;
        margin-left: 20%;
        margin-right: 20%;
        text-align: left;
        font-size: 15px;
      }
    
      .left2 {
        width: 1%;
        margin-top:4%;
        margin-left:7%;
      }
      
      .right2 {
        width: 90%;
      }
      .column2 {
        float: left;
    
       
      }
    
      .headerImage{
          margin-top: 3%;
          text-align: center;
          width:700px;
          box-shadow:  3px 5px 6px #ccc
      }

    
    }