@media only screen and (max-width: 768px) {

    
    .box6{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: url("FlightBanner1.png") no-repeat center center fixed ;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height:100vh;
      
    }
    .Flightvideo{
      border: solid;
      border-width: thin;
      border-color: transparent;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      width:80vw;
    }
    .Flightvideo:focus{
      outline:none;
    }

    }
    @media only screen and (min-width: 769px) {
      
    
    .box6{
      padding: 1%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-image: url("FlightBanner1.png") ;
      background-size: cover;
      height:100vh;
      background-repeat: no-repeat;
      background-color: #464646;
      justify-content: center;
      background-attachment: fixed;
      background-position: center;
    
    }
    .Flightvideo{
      border: solid;
      border-width: thin;
      border-color: transparent;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      width:532px;
      height: 300px;
    }
    .Flightvideo:focus{
      outline:none;
    }
    
    }