/* CSS files add styling rules to your content */

body {
    font-family: "Montserrat";
    background-color: #ffffff;
    position: relative;
  }
  
  h1 {
    color: #636363;
    font-size: 70px;
  }
  
  h2{
    color:#404040;
    font-size:50px;
    text-align: left;
    border-bottom: solid 4px #404040;
  }
  .projectsHeadline{
    width:45%;
  }
  .container {
    display: inline-block;
    cursor: pointer;
  }
.button_container_icon{
  display: inline-block;
  cursor: pointer;
  text-align:center;

}
    
  .button_container {
    display: inline-block;
    cursor: pointer;
    text-align:center;
  }
  .sticky{
    position: sticky;
    position: -webkit-sticky;
    top:0;
  }
  .intro{
    margin-top: 5%;
    text-align:center;
    padding-left:15%;
    padding-right: 15%;
    margin-bottom:20%;
  }
  .button:active,.button:focus {
    outline: none;
    border-bottom: solid;
    text-decoration: none;
}


  .button, .button2{
    margin-top:5%;
    margin-right: 20px;
    margin-left: 20px;
    background-color: transparent;
    border: none;
    color: #636363;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
  }
  
  .button:hover{
    cursor: pointer;
    border-bottom: solid;
  }

  .button2:hover{
    cursor: pointer;
    border-bottom: none;
  }
  
  .button:focus, .button2:focus {
    outline:0;
  }

  
  
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  
  
  /* Add rounded corners to the top left and the top right corner of the image */
 

  #intro_img{
      width:200px;
      height:200px;
  }
  
  .projects{
    text-align:center;
    height:100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom:300px;
  }
  a{
    color:#000000;
  }

  form{
      display: inline-block;
  }
  .fab, .fas {
    margin: 5px;
    font-size: 35px;
    color: #636363;
  }
  .fa-tools{
    font-size: 100px;
  }

  .fab:hover, .fas:hover{
    color: #000000;
  }
  .TEST{
    margin-top:500px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
    align-items: flex-start
  }
  .left {
    width: 92%;
  }
  
  .right {
    width: 5%;
    float:right;
    padding:20px;
    align-items: flex-start
  }
  .column {
    float: left;
    height:2000px;
   
  }
  .button2.up{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 4rem;
  }
  .button2{
    size:40px;
  }

.card {
    display: flex; 
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding:80px;
    
  }

  .image{
    display: block;
    width:40%;
    padding-left:30px;
    padding-right:30px;
    height:260px;
   
  }

  .projectDescription{
    width:50%;
    display: block;
    justify-content: center;
    color:#404040;
  }
  .imgDiv{
    width:50%;
    align-items: center;
  }
  .projectTitle{
    margin-bottom:5%;
    font-size: 30px;
    font-weight: bold;

  }
  .readMoreButton{
    margin-top:5%;
    border-radius: 10px;
    border:none;
    background-color:#E7C387;
    color:#404040;
    width:200px;
    height:40px;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 40%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
  }
  
  .card:hover .overlay {
    opacity: 0.7;
  }
  .card:hover .text {
    opacity: 1;
  }
  
  .text {
    color: white;
    opacity:0;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .skillsContainer{
    align-items: center;
    text-align:center;
    margin-left: 10%;
    margin-right: 5%;
  }

  .skillBox{
    text-align: center;
    align-items: right;
    display:inline-flex;
    justify-content: space-between;
    background-color: rgb(236, 227, 252);
    border-radius: 5px;
    
    width:100%;
  }
  .skill{
    padding:100px;
  }
  .screw{
    width: 100px;
  }
 



