
@media only screen and (max-width: 768px) {

  .menu button {display: none;}
  .menu a.icon {
    display: inline-block;
    margin:5%;
  }
  .menu a.close{
    display:none;
  }
  .menu.responsive {
    position: absolute;
    background-color: white;
    width:100%;

  }
  .menu.responsive .icon {
    color:transparent;
  }
  .menu.responsive .close{
    display: block;
    margin-left: 5%;
  }
  .menu.responsive button {
    float: none;
    display: block;
    text-align: left;
    margin-left: 5%;
  }
  body {
    font-family: "Montserrat";
    background-color: #f0f0f0 !important;
    position: relative;
  }
  .navbar{
    margin-top: 0 !important;
    position: sticky;
    position: -webkit-sticky;
    top:0;
    z-index: 5 !important;
  }
  .navbar-light .navbar-toggler {
    color: #404040;
    border-color: transparent !important;
  }
  .navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
    border-color: transparent !important;
  }

  .headerText{
    width: 100% !important;
  }
  .headerRow{
    display:block !important;
  }
  .introRow{
    display: flex;
    flex-direction: column;
  }
  .discoverButton{
    background-color: transparent;
    border: solid;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    align-self: center;
    letter-spacing: 5px;
    font-weight: bold;
    backdrop-filter: blur(10px)
  }
  .discoverButton:active, .discoverButton:focus{
    outline: none;
    text-decoration: none;
  }
  .words2{
    display: inline-flex;
    justify-content: space-between;
    align-self: center;
    width: 90%;
    color: white;
    font-weight: bold;
  }
  
  h1 {
    color: white;
    margin-top: 10%;
    margin-bottom: 1%;
    font-weight: 900;
    font-size: 30px;
    font-family: "Poppins", Arial, sans-serif;
  }
  
  h2{
    color:#404040;
    font-size:20px;
    text-align: left;
  }
  .projectsHeadline{
    width:100%;
  }
  .container {
    display: inline-block;
    cursor: pointer;
  }
.button_container_icon{
  display: inline-block;
  cursor: pointer;
  text-align:center;

}
    
  .button_container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .navName{
    display: inline-flex;
    margin-left: 2%;
    font-weight:bolder;
    font-size: 10px;
  }
  .sticky{
    top:0;
  }

  .getInTouch{
    margin-top:5%;
    color: #ffffff;
  }
  
    .intro{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-image: url("./HomePage/HomeBanner2.jpg") ;
      background-size: cover;
      height:100vh;
      background-repeat: no-repeat;
      background-color: #464646;
      background-attachment: fixed;
      background-position: center;

     
     
    }
  .name{
    text-align: center;
    color: white;
    padding-top: 5%;
    margin-bottom: 1%;
    font-weight: 900;
    font-size: 30px;
    font-family: "Poppins", Arial, sans-serif;
  }
  .button:active,.button:focus {
    outline: none;
    border-bottom: solid;
    text-decoration: none;
}

.button, .button2{
  margin-top: 5%;
  background-color: transparent;
  border: none;
  color: #404040;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.button:hover{
  cursor: pointer;
  border-bottom: solid;
}

.button2:hover{
  cursor: pointer;
  border-bottom: none;
}

.button:focus, .button2:focus {
  outline:0;
}
a{
  color:#404040;
}
form{

  display: flex;
  flex-direction: column;
}
.fab, .fas {
margin: 5px;
font-size: 20px;
color: #ffffff;
}
.fa-tools{
font-size: 100px;
}

.fab:hover, .fas:hover{
color: #404040;
}
.aboutContainer{
  margin-top: 5%;
  background-color: #dddddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
.projectsContainer{
  width:100vw;
  padding-top:1%;
}

.contactContainer{
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactHeadline{
  margin-bottom: 2%;
}
.contactIcons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2%;
  width:30%;
}
.contactText{
  margin-bottom: 0;
}
.gray{
  color: #404040 !important;
}
.contactDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
}


}

/*WEB*/
@media only screen and (min-width: 769px) {

body {
    font-family: 'Montserrat';
    background-color: #f0f0f0;
    position: relative;
    font-weight: lighter;
  }
  .navbar{
    margin-top: 0 !important;
    position: sticky;
    position: -webkit-sticky;
    top:0;
    z-index: 5 !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
  .nav-item{
    cursor: pointer;
  }
  .nav-item:active{
    text-decoration: underline;
  }
  .row{
   padding-top: 1%;
   margin-left: 0 !important;
   margin-right: 0 !important;
  }
  .rowFooter{
    padding-top: 1%;
   }
  .introRow{
    display: flex;
    flex-direction: column;
    width:100%;
  }
  .discoverButton{
    background-color: transparent;
    border: solid;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    width:10%;
    align-self: center;
    letter-spacing: 5px;
    font-weight: bold;
    backdrop-filter: blur(10px)
  }
  .discoverButton:hover{
    color: #404040;
    background-color: white;
    border-color: white;
    
  }
  .discoverButton:active, .discoverButton:focus{
    outline: none;
    text-decoration: none;
    
  }
  
  .name {
    color: white;
    padding-top: 5%;
    margin-bottom: 1%;
    font-weight: 900;
    font-size: 80px;
    font-family: "Poppins", Arial, sans-serif;
  }
  .words2{
    display: inline-flex;
    justify-content: space-between;
    align-self: center;
    width: 30%;
    color: white;
    font-weight: bold;
  }
  
  h2{
    color:#404040;
    font-size:30px;
    text-align: center;
  }
  .projectsHeadline{
    width:100%;
  }
  .container {
    display: inline-block;
    cursor: pointer;
  }
.button_container_icon{
  display: inline-block;
  cursor: pointer;
  text-align:center;

}
    
  .button_container {
    display: inline-flex;
    cursor: pointer;
    text-align: center;
    float: right;
    margin-right: 2%;
  }
  .navName{
    display: inline-flex;
    margin-left: 2%;
    font-weight: bold;
  }
  .sticky{
    position: sticky;
    position: -webkit-sticky;
    top:0;
  }
  .headerRow{
    display:flex;
    flex-direction: column;
    margin-bottom: 5%;
    background-color: #f0f0f0;
  }
  #intro_img{
    box-sizing: border-box;
    width:30%;
    height:auto;
    margin-left: 10%;
}
.getInTouch{
  margin-top:5%;
  color: white;
}

  .intro{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-image: url("./HomePage/HomeBanner2.jpg") ;
      background-size: cover;
      height:100vh;
      background-repeat: no-repeat;
      background-color: #464646;
      background-attachment: fixed;
      background-position: center;
   
  }

  .button:active,.button:focus {
    text-decoration-line: underline;
    text-decoration-style: solid;
    cursor: pointer;
}
.menu{
  align-items: center;
  z-index: 1;
  background-color: #f0f0f0;
  color:#404040;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.menu .icon{
    display: none;
}
.menu .close{
  display:none;
}
.description{
font-size: 15px;
color: #404040;

}

  .button, .button2{
    margin-top:2%;
    margin-bottom: 2%;
    margin-left: 60px;
    background-color: transparent;
    border: none;
    color: #404040;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }
  
  .button:hover{
    text-decoration-line: underline;
    text-decoration-style: solid;
    cursor: pointer;
  }

  .button2:hover{
    cursor: pointer;
    border-bottom: none;
  }
  
  .button:focus, .button2:focus {
    outline:0;
  }

  
  
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  
  
  /* Add rounded corners to the top left and the top right corner of the image */
  .square{
    position:absolute;
      top: 10px;
      left: 10px;
      z-index: 1;
  }
  
  a{
    color:#000000;
  }

  form{
      display: inline-flex;
  }
  .fab, .fas {
    margin: 5px;
    font-size: 30px;
    color: #ffffff;
  }
  .fa-tools{
    font-size: 100px;
  }

  .fab:hover, .fas:hover{
    color: #404040;
  }


  
  .text {
    color: white;
    opacity:0;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.projectsContainer{
  width:100%;
  padding-top: 1%;
}
  .aboutContainer{
    width:100%;
    margin-top: 5%;
    background-color: #dddddd;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .contactContainer{
    padding-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactHeadline{
    margin-bottom: 2%;
  }
  .contactIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
    width:30%;
  }
  .contactText{
    margin-bottom: 0;
  }
  .gray{
    color: #404040 !important;
  }
  .contactDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}



