#navbarFooter {
    background-color: #636363;
    overflow: hidden;
    bottom:0;
    left: 0;
    width: 100%;
    margin-bottom:0;
    text-align: center;
  }
  #FooterLeft{
      font-size: medium;
      color:white;
      font-weight: lighter;
  }
  #copyright{
      color:white;
      font-weight: lighter;
      font-size: small;
      padding:1%
  }
  #footer{
      text-align: center;
  }