@media only screen and (max-width: 768px) {

    
    .box3{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: url("NearbyBanner.png") no-repeat center center ;
      background-attachment: scroll;
      overflow: hidden;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height:90vh;
    }
    .Nearbyvideo{
      border-radius: 20px;
      border: solid;
      border-width: thin;
      border-color: transparent;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      width:50%;
      max-height: 80vh;
    }
    .Nearbyvideo:focus{
      outline:none;
    }
    .prototypeButton{
      transition: all 0.2s ease-in-out;
      font-size: 15px;
      background-color: transparent;
      border: solid;
      color: #404040;
      align-self: center;
      padding: 3%;
      /* margin: 10px; */
      border-radius: 7px;
      cursor: pointer;
      width: 200px;
      height: 40px;
      margin-bottom: 5%;
      margin-right:10px;
  }
  .prorotypeButton:hover {
      background: #404040;
      border:none;
      color:white;
      cursor: pointer;
    }
  .prototypeButton:focus {
      background: #404040;
      outline:none;
      color:white;
      cursor: pointer;
    }



    }
    @media only screen and (min-width: 769px) {
    
    .box3{
      padding: 1%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-image: url("NearbyBanner.png") ;
      background-size: cover;
      height:100vh;
      background-repeat: no-repeat;
      background-color: #464646;
      justify-content: center;
      background-attachment: fixed;
      background-position: center;
    
    }
    .Nearbyvideo{
      border-radius: 20px;
      border: solid;
      border-width: thin;
      border-color: transparent;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      width:250px;
    }
    .Nearbyvideo:focus{
      outline:none;
    }
    .downloadForm{
      align-self: baseline;
    }
    #downloadIcon{
      color:#404040 !important;
      font-size: 15px !important;
    }
    .prototypeButton{
      transition: all 0.2s ease-in-out;
      font-size: 15px;
      background-color: transparent;
      border: solid;
      color: #404040;
      align-self: center;
      padding: 3%;
      /* margin: 10px; */
      border-radius: 7px;
      cursor: pointer;
      width: auto;
      align-self: center;

  }
  .prototypeButton:hover {
      background: #404040;
      border:none;
      color:white;
      cursor: pointer;
    }
  .prototypeButton:focus {
      background: #404040;
      outline:none;
      color:white;
      cursor: pointer;
    }



    
    }